alias ls='ls --color=auto --classify'
alias ll='\ls -lh --color=auto --classify'
alias l.='\ls -d .* --color=auto 2> /dev/null'
alias ll.='\ls -ld .* --color=auto 2> /dev/null'

alias type='type -a'
alias which='which -a'
