# Docs: https://www.nano-editor.org/dist/latest/nano.html

# Editor
set tabsize 2
set autoindent
set softwrap
set atblanks

# UI clean-up
set linenumbers
set minibar
set stateflags
set nohelp

# Colors
set numbercolor gray,normal
set promptcolor normal,black
set minicolor normal,black
set keycolor normal,black
set keycolor normal,black
